<% layout("/layouts/boilerplate") %>


<h3 style="text-align: center; margin: 100px 0 50px 0;"><%= user.name %></h3>
<p style="text-align: center; margin: 10px;"><%= today %></p>

<div class="">
    <div class="market_container">
        <h3>Grains-अन्नधान्य-अनाज </h3>
      <div class="row ">
        <div class="col">
          <p>Rice -  भात - चावल</p>
        </div>
        <div class="col ">
            <p><%= prices.rice %> </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p>Wheat - गहू - गेहू </p>
        </div>
        <div class="col">
            <p><%= prices.gahu %> </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p>Bajiri - बाजरी -बाजरा
          </p>
        </div>
        <div class="col">
            <p><%= prices.bajri %> </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p>Jwari - जिवारी - ज्वारी
          </p>
        </div>
        <div class="col">
            <p><%= prices.jwari %> </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p>Peas - वटाणा - वटाना
          </p>
        </div>
        <div class="col">
            <p><%= prices.vatana %> </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p>Lentils - मसूर - मसूर
          </p>
        </div>
        <div class="col">
            <p><%= prices.masoore %> </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p>Chickpeas - हरभरा  - हरभरा </p>
        </div>
        <div class="col">
            <p><%= prices.harbhara %> </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p>Black Lentils - उडिद - उडिद
          </p>
        </div>
        <div class="col">
            <p><%= prices.udit %> </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p>Corn -मका - मका
          </p>
        </div>
        <div class="col">
            <p><%= prices.makka %> </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p>Green gram - मूग - मूग
          </p>
        </div>
        <div class="col">
            <p><%= prices.moong %> </p>
        </div>
      </div>
    </div>

    <div class="market_container">
        <h3> Vegetables -भाजी - सब्जी
        </h3>
        <div class="row mt-4">
            <div class="col">
              <p>Potato - बटाटा - आलू
              </p>
            </div>
            <div class="col">
                <p><%= prices.batata %> </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
              <p>Onion -कांदा - प्याज </p>
            </div>
            <div class="col">
                <p><%= prices.kande %> </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
              <p>Chilly - मिर्ची  - मिर्ची
              </p>
            </div>
            <div class="col">
                <p><%= prices.mirchi %> </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
              <p>Brinjal - वांगे - बैंगन
              </p>
            </div>
            <div class="col">
                <p><%= prices.vange %> </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
              <p>Spinach - पालक - पालक
              </p>
            </div>
            <div class="col">
                <p><%= prices.palak %> </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
              <p>Fenugreek - मेथी - मेथी
              </p>
            </div>
            <div class="col">
                <p><%= prices.methi %> </p>
            </div>
        </div>
    </div>

    <div class="market_container">
        <h3>Fruits - फळं - फल
        </h3>
        <div class="row mt-4">
            <div class="col">
              <p>Pear - पेरु - अमरुद
              </p>
            </div>
            <div class="col">
                <p><%= prices.peru %> </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
              <p>Mango -आंबा - आम
              </p>
            </div>
            <div class="col">
                <p><%= prices.amba %> </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
              <p>Watermelon - टरबूज- टरबूज
              </p>
            </div>
            <div class="col">
                <p><%= prices.tarbuj %> </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
              <p>Pineapple - अननस - अननस
              </p>
            </div>
            <div class="col">
                <p><%= prices.ananas %> </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
              <p>Lime - संत्री - संत्री
              </p>
            </div>
            <div class="col">
                <p><%= prices.santri %> </p>
            </div>
          </div>
        </div>


        <% if(currUser && currUser._id.equals(prices.owner._id)) { %>
        <div class="market_container">
          <a href="/farmer/market/<%=prices.owner %>/updatelisting" class="btn btn-primary">Update Prices</a>
        </div>
        <% } %>
  </div>
